<h1>プロフィール</h1>

<p>
  <strong>ニックネーム:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>受講コース:</strong>
  <%= @profile.course %>
</p>

<p>
  <strong>エリア:</strong>
  <%= @profile.area %>
</p>

<p>
  <strong>性別:</strong>
  <%= @profile.course %>
</p>

<p>
  <strong>誕生日:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>自己紹介:</strong>
  <%= @profile.introduction %>
</p>

<%= link_to '編集', edit_profile_path %>