<h2><%= link_to '勉強の記録', study_records_path %></h2>

<h2><%= link_to '検索する', accounts_path %></h2>
<ul>
  <% @users.each do |user| %>
    <% if user.profile.present? %>
      <li>
        <%= link_to user.profile.nickname, account_path(user) %>
        <p>受講コース: <%= user.profile.course %></p>
        <p>都道府県: <%= user.profile.area %></p>
      </li>
    <% else  %>
      <li><%= user.email %></li>
    <% end %>
  <% end %>
</ul>

