<div class="container">
  <h3>検索条件</h3>

  <%= form_with url: accounts_path, method: :get, local: true do |f| %>

    <div class="field">
      <%= f.label :area, 'エリア' %>
      <%= f.select :area, Profile.areas.map{|k, v|[I18n.t("enum.areas.#{k}"),k]}, { include_blank: true }, { class: 'text' } %>
    </div>
    <br>
      <div class="field">
        <%= f.label :course, '受講コース' %>
        <%= f.select :course, Profile.courses.map{|k, v|[I18n.t("enum.courses.#{k}"),k]}, { include_blank: true }, { class: 'text' } %>
      </div>
    <br>
    <%= f.submit '検索', class: 'btn btn-secondary' %>
  <% end %>

  <h3>プロフィール一覧</h3>
  <table>
    <tbody>
      <tr>
        <th>ニックネーム</th>
        <th>エリア</th>
        <th>受講コース</th>
        <th>自己紹介</th>
      </tr>
      <% @users.each do |user| %>
        <tr onclick="location.href='<%= account_path(user) %>'">
          <td><%= user.display_name %></td>
          <td><%= I18n.t "enum.areas.#{user.profile.area || 'not_entered' }" %></td>
          <td><%= I18n.t "enum.courses.#{user.profile.course || 'not_entered' }" %></td>
          <td><%= user.profile.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>