<div class="container">
  <h3>プロフィール</h3>

  <%= render 'commons/profile' %>

  <div class="actions">
    <% if current_user.has_followed?(@user) %>
      <%= link_to 'フォロー解除', account_unfollows_path(@user), data: { "turbo-method": :post }, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'フォロー', account_follows_path(@user), data: { "turbo-method": :post }, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'フォロー中', account_followings_path(account_id: @user), class: 'btn btn-primary' %>
    <%= link_to 'フォロワー', account_followers_path(account_id: @user), class: 'btn btn-primary' %>
  </div>
</div>
